<div class="accept-order-container">
	<form class="form">
		<input class="name" type="text" placeholder="Ф.И.О" />
		<input class="phone" type="number" placeholder="Телефон" />
		<input class="email" type="email" placeholder="Почта" />
		<input class="address" type="text" placeholder="Адрес" />
		<textarea class="comment" name="comment" id="comment" placeholder="Комментарий"></textarea>
		<label class="pay-online" for="pay-online">
			<input type="checkbox" id="pay-online" />
			<span>Оплатить онлайн</span>
		</label>
		<button type="submit">Заказать</button>
	</form>
</div>
