<div class="footer" *ngIf="isShowed">
	<ul class="footer-links">
		<li class="items">
			<a [href]="'tel:' + phone">{{ phone }}</a>
		</li>
		<li class="items">
			<a href="">Доставка</a>
		</li>
		<li class="items">
			<a href="">Информация</a>
		</li>
		<li class="items">
			<a [routerLink]="['privacy-policy']">Политика конфиденциальности</a>
		</li>
		<li class="items">
			<a href="">О нас</a>
		</li>
		<li class="items">
			<button type="button" class="anim-btn" [routerLink]="['contacts']">Заказать звонок</button>
		</li>
	</ul>
</div>
