<div class="orders-container">
	<div class="filter-container" [ngClass]="{ opened: filterService.isFilterOpen }">
		<app-filter></app-filter>
	</div>
	<div class="sort-buttons">
		<button class="sort-price" type="button">Цена<span>&#8595;</span></button>
		<button class="sort-name" type="button">Название<span>&#8593;</span></button>
		<button class="filter-btn" (click)="openFilter()">Фильтр</button>
	</div>
	<div class="orders">
		<app-order-item *ngFor="let order of orders" [order]="order"></app-order-item>
		<app-pagination
			[pageCount]="pageCount"
			[currentPage]="currentPage"
			[elementsOnPage]="elementsOnPage"
		></app-pagination>
	</div>
</div>
