.related-products-container {
	min-width: 1168px;
	min-height: 260px;
	position: relative;
}

.related-products-label {
	margin-bottom: 1.2em;
	font-size: 1.1rem;
}

.related-products {
	display: block;

	height: 1200px;

	position: absolute;
	top: 2em;
	left: 40px;

	overflow-x: hidden;
	overflow-y: scroll;

	transform-origin: top right;
	transform: rotate(-90deg) translate(-16px, -214px);

	&::-webkit-scrollbar {
		display: none;
	}
}

.related-product {
	display: flex;
	flex-direction: column;
	width: 180px;
	height: 130px;
	transform-origin: top right;
	transform: rotate(90deg) translateX(180px);
	& + & {
		margin-top: 3.5em;
	}
}

.related-product-image {
	max-width: 130px;
	& > img {
		max-height: 130px;
		max-width: 130px;
	}
}

@media (max-width: 600px) and (orientation: portrait) {
	.related-products-label {
		margin-bottom: 2em;
	}
	.related-products {
		display: flex;
		flex-direction: row;
		width: 100%;
		height: 160px;

		transform: unset;
		transform-origin: unset;

		overflow-x: scroll;
		overflow-y: unset;
		position: static;

		scroll-snap-type: x mandatory;
		scroll-snap-stop: always;
	}

	.related-product {
		max-height: unset;
		transform: unset;
		transform-origin: unset;

		scroll-snap-align: start;

		& + & {
			margin-top: 0;
			// margin-left: 3em;
		}
	}

	.rel-prod-desc {
		font-size: 0.8em;
	}
}
