<p class="label">Характеристики:</p>
<div class="prop" *ngFor="let p of props.value; index as i">
	<input
		class="prop-label"
		type="text"
		[value]="p.property"
		placeholder="Характеристика"
		(change)="onChangeExitstingPropName($event.target, i)"
	/>
	<input
		class="prop-value"
		type="text"
		[value]="p.value"
		placeholder="Значение"
		(change)="onChangeExistingPropValue($event.target, i)"
	/>
	<button class="remove" (click)="removeValue(i)"></button>
</div>

<div class="add-btn">
	<input
		class="prop-label"
		type="text"
		(keydown.enter)="onChangePropName($event)"
		(change)="onChangePropName($event)"
		#propField
		placeholder="Характеристика"
	/>
	<input class="prop-value" type="text" #valueField (keydown.enter)="onChangeValue($event)" placeholder="Значение" />
	<button type="button" (click)="addValue()">Добавить</button>
</div>
