<p class="label">Характеристики:</p>
<ng-container *ngFor="let propForm of propsFormGroup; index as i">
	<form class="prop" [formGroup]="propForm">
		<input class="prop-label" type="text" formControlName="property" placeholder="Характеристика" />
		<input class="prop-value" type="text" formControlName="value" placeholder="Значение" />
		<button class="remove" type="button" (click)="removeValue(i)"></button>
	</form>
</ng-container>

<form class="add-btn" [formGroup]="newPropForm" (ngSubmit)="addValue()">
	<input class="prop-label" type="text" placeholder="Характеристика" formControlName="property" />
	<input class="prop-value" type="text" placeholder="Значение" formControlName="value" />
	<button type="button" type="submit">Добавить</button>
</form>
