@import url('../../btn.scss');
@import url('../../spinner.scss');

.container {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	align-items: center;
	justify-items: center;

	height: calc(100vh - 10em);
	height: calc(100svh - 10em);
	position: relative;
}

.btn {
	font-size: 0.9rem;
}

.form {
	display: grid;
	grid-template-rows: 1fr 1fr auto;
	grid-template-columns: 1fr;

	justify-items: center;

	font-size: inherit;
	font-family: inherit;

	& > input {
		padding: 0.5em 0.2em;
		border: none;
		border-bottom: 1px solid var(--secondary-text);
		outline: none;
		font-size: 1.25rem;
		font-family: inherit;
		text-align: center;
	}

	input.ng-invalid.ng-touched {
		border-bottom: 2px solid red;
	}
}

@media (max-width: 600px) and (orientation: portrait) {
	.container {
		height: calc(100vh - 5em);
		height: calc(100svh - 5em);
	}
	.btn {
		margin-top: 1em;
	}
}
