<div class="product-container">
	<ng-container *ngIf="form">
		<form class="product" [formGroup]="form">
			<div class="images-container">
				<app-images [imagesControl]="imagesControl"></app-images>
			</div>
			<div class="main-description">
				<input class="name" placeholder="Название" formControlName="name" />
				<div class="vendor">
					<input class="vendor-value" type="text" placeholder="Артикул" formControlName="vendor" />
				</div>
			</div>
			<div class="description">
				<ng-container formArrayName="properties">
					<app-product-props #props [props]="propertiesFormArray"></app-product-props>
				</ng-container>
			</div>
			<div class="categories">
				<p class="label">Категории:</p>
				<select name="categories" class="product-categories" (change)="changeCategory($event)">
					<option *ngFor="let c of categories" [ngValue]="c" [selected]="c.id == product.category.id">
						{{ c.value }}
					</option>
				</select>
			</div>
			<div class="additional-props">
				<app-additional-props #adProps [additionalProps]="additionalProps"></app-additional-props>
			</div>
			<div class="type-of-products">
				<label for="cutting" class="radio-labels">
					<input type="radio" id="cutting" hidden [value]="0" formControlName="typeOfProduct" />
					<span>Отрезной</span>
				</label>
				<label for="piece" class="radio-labels">
					<input type="radio" id="piece" hidden [value]="1" formControlName="typeOfProduct" />
					<span>Штучный</span>
				</label>
			</div>
			<div class="price-container">
				<input class="price" type="number" placeholder="Цена" formControlName="price" />
				<label for="m2" class="radio-labels">
					<input type="radio" id="m2" [value]="0" hidden formControlName="typeOfMeasurement" />
					<span>р./м2</span>
				</label>
				<label for="sht" class="radio-labels">
					<input type="radio" id="sht" [value]="1" hidden formControlName="typeOfMeasurement" />
					<span>р./шт.</span>
				</label>
			</div>
			<div class="btn-container auth">
				<div class="edit-btns-container">
					<button class="btn anim-btn" type="button" (click)="onSubmit()" [disabled]="!form.valid">
						Сохранить
					</button>
					<button class="btn anim-btn" type="button" [routerLink]="['/products', id]">Отмена</button>
				</div>
			</div>
		</form>
	</ng-container>
	<div class="spinner absolute" *ngIf="loading"></div>
</div>
