<div class="main-page">
	<div class="first">
		<h1>Напольные покрытия для дома и офиса</h1>
		<p>Разнообразия ассортимента позволит вам создать уютный и комфортный интерьер вашей мечты</p>
		<button class="btn btn-main">К товарам</button>
	</div>
	<div class="second">
		<h1>Высокое качество продукции</h1>
		<p>Износостойкость покрытий является результатом строгого соблюдения технологий производства</p>
		<button class="btn btn-main">К товарам</button>
	</div>
	<div class="third">
		<h1>Цена от производителя</h1>
		<p>Выгодные цены позволят существенно сэкономить при проведении ремонта</p>
		<button class="btn btn-main">К товарам</button>
	</div>
</div>
