<div class="product-container">
	<div class="image" [routerLink]="['/products', product.id]">
		<img src="../../assets/laminat_tarket_pervaja_sibirskaja_5.png" alt="" />
	</div>
	<div class="properties">
		<p class="name">Дуб ривьера</p>
		<p class="country">Россия</p>
		<div class="prop">
			<p class="prop-name">Толщина:</p>
			<p class="prop-value">8мм</p>
		</div>
		<div class="prop">
			<p class="prop-name">Размер:</p>
			<p class="prop-value">130*68</p>
		</div>
		<div class="prop">
			<p class="price">{{ product.price }}rub</p>
		</div>
		<button class="to-cart" (click)="addToCart()">В корзину</button>
	</div>
</div>
