<div class="product-container">
	<div class="image" [routerLink]="['/products', product.id]">
		<img src="../../assets/laminat_tarket_pervaja_sibirskaja_5.png" alt="" />
	</div>
	<div class="properties">
		<p class="name">{{ product.name }}</p>
		<div class="prop" *ngIf="product.properties[0]">
			<p class="prop-name">{{ product?.properties[0]?.property }}:</p>
			<p class="prop-value">{{ product?.properties[0]?.value }}</p>
		</div>
		<div class="prop" *ngIf="product.properties[1]">
			<p class="prop-name">{{ product?.properties[1]?.property }}:</p>
			<p class="prop-value">{{ product?.properties[1]?.value }}</p>
		</div>
		<div class="prop">
			<p class="price">{{ product.price + typeOfMeasurement }}</p>
		</div>
		<button class="to-cart anim-btn" *ngIf="!auth.isAuthenticated" (click)="addToCart()">В корзину</button>
		<button class="to-cart anim-btn" *ngIf="auth.isAuthenticated" [routerLink]="['/products', product.id, 'edit']">
			Редактировать
		</button>
	</div>
</div>
