<div class="header">
	<p class="logo">Laminatoria</p>
	<nav>
		<button class="navbar-btn"></button>
		<ul class="nav-items">
			<li class="item">
				<a href="">Линолеум</a>
			</li>
			<li class="item">
				<a href="">Ламинат</a>
			</li>
			<li class="item">
				<a href="">Ковролин</a>
			</li>
			<li class="item">
				<a href="">Винил</a>
			</li>
			<li class="item">
				<a href="">Искусственная трава</a>
			</li>
			<li class="item">
				<a href="">Аксуссуары</a>
			</li>
			<li class="item">
				<a href="">Корзина</a>
			</li>
		</ul>
	</nav>
</div>
