<div class="header">
	<p class="logo">Laminatoria</p>
	<nav>
		<button
			class="navbar-btn"
			type="button"
			[ngClass]="{ opened: isMenuOpened || filterService.isFilterOpen }"
			(click)="toggle()"
		>
			<div class="btn-line"></div>
		</button>
		<ul class="nav-items" [ngClass]="{ opened: isMenuOpened }">
			<li class="item">
				<a [routerLink]="['products', 'linoleum']">Линолеум</a>
			</li>
			<li class="item">
				<a [routerLink]="['products', 'laminate']">Ламинат</a>
			</li>
			<li class="item">
				<a [routerLink]="['products', 'carpet']">Ковролин</a>
			</li>
			<li class="item">
				<a [routerLink]="['products', 'lvt']">Винил</a>
			</li>
			<li class="item">
				<a [routerLink]="['products', 'grass']">Искусственная трава</a>
			</li>
			<li class="item">
				<a [routerLink]="['products', 'accessories']">Аксуссуары</a>
			</li>
			<li class="item">
				<a>Корзина</a>
			</li>
		</ul>
	</nav>
</div>
