<div class="header">
	<p class="logo">Laminatoria</p>
	<nav>
		<button
			class="navbar-btn"
			type="button"
			[ngClass]="{ opened: isMenuOpened == true || filterService.isFilterOpen }"
			(click)="toggle()"
		>
			<div class="btn-line"></div>
		</button>
		<ul class="nav-items" [ngClass]="{ opened: isMenuOpened == true }">
			<li class="item">
				<a [routerLink]="['products']" [queryParams]="{ category: 'linoleum' }">Линолеум</a>
			</li>
			<li class="item">
				<a [routerLink]="['products']" [queryParams]="{ category: 'laminate' }">Ламинат</a>
			</li>
			<li class="item">
				<a [routerLink]="['products']" [queryParams]="{ category: 'carpet' }">Ковролин</a>
			</li>
			<li class="item">
				<a [routerLink]="['products']" [queryParams]="{ category: 'lvt' }">Винил</a>
			</li>
			<li class="item">
				<a [routerLink]="['products']" [queryParams]="{ category: 'grass' }">Искусственная трава</a>
			</li>
			<li class="item">
				<a [routerLink]="['products']" [queryParams]="{ category: 'accessories' }">Аксуссуары</a>
			</li>
			<li class="item">
				<a [routerLink]="['product-cart']">Корзина</a>
			</li>
		</ul>
	</nav>
</div>
