<form class="shopping-cart-item-container" [formGroup]="form">
	<div class="item-image">
		<img src="../../assets/laminat_tarket_pervaja_sibirskaja_5.png" alt="" />
	</div>
	<div class="item-description">
		<div class="main-desc">
			<p class="name">{{ product.name }}</p>
			<p class="vendor">{{ product.vendor }}</p>
		</div>
		<div class="amounts">
			<app-counter formControlName="amount"></app-counter>
			<p class="result-value">Площадь: 124м2</p>
		</div>
		<p class="price">Стоимость: {{ amount * product.price | currency : '' : '' : '' : 'ru-RU' }}р.</p>
	</div>
	<div class="remove-btn">
		<button type="button" (click)="removeItem()">Удалить</button>
	</div>
</form>
