<div class="filter">
	<div class="filter-item">
		<button class="price">Цена</button>
		<div class="price-inputs">
			<input type="number" class="min-price" placeholder="от: 700р." />
			<input type="number" class="max-price" placeholder="от: 900р." />
		</div>
	</div>
	<div class="filter-item">
		<button class="property-name" appOpenCloseMenu>Толщина</button>
		<div class="wrapper">
			<div class="prop-container">
				<input class="property-value" type="checkbox" />
				<label class="property-value-label">7 - 7.9</label>
			</div>
			<div class="prop-container">
				<input class="property-value" type="checkbox" />
				<label class="property-value-label">8 - 8.9</label>
			</div>
		</div>
	</div>
	<div class="filter-item">
		<button class="property-name" appOpenCloseMenu>Толщина</button>
		<div class="wrapper">
			<div class="prop-container">
				<input class="property-value" type="checkbox" />
				<label class="property-value-label">7 - 7.9</label>
			</div>
			<div class="prop-container">
				<input class="property-value" type="checkbox" />
				<label class="property-value-label">8 - 8.9</label>
			</div>
		</div>
	</div>
</div>
