<div class="filter">
	<div class="filter-item">
		<button class="price">Цена</button>
		<div class="price-inputs">
			<input type="number" class="min-price" placeholder="от: 700р." />
			<input type="number" class="max-price" placeholder="от: 900р." />
		</div>
	</div>
	<div class="filter-item">
		<button class="property-name" appOpenCloseMenu>Толщина</button>
		<div class="wrapper opened">
			<div class="prop-container">
				<label class="property-value-label" for="1">
					<input class="property-value" type="checkbox" id="1" />
					<span>7 - 7.9</span>
				</label>
			</div>
			<div class="prop-container">
				<label class="property-value-label" for="2">
					<input class="property-value" type="checkbox" id="2" />
					<span>8 - 8.9</span>
				</label>
			</div>
		</div>
	</div>
	<div class="filter-item">
		<button class="property-name" appOpenCloseMenu>Толщина</button>
		<div class="wrapper opened">
			<div class="prop-container">
				<label class="property-value-label" for="1">
					<input class="property-value" type="checkbox" id="1" />
					<span>7 - 7.9</span>
				</label>
			</div>
			<div class="prop-container">
				<label class="property-value-label" for="2">
					<input class="property-value" type="checkbox" id="2" />
					<span>8 - 8.9</span>
				</label>
			</div>
		</div>
	</div>
	<div class="buttons">
		<button class="apply-btn">Применить</button>
		<button class="reset-btn">Сбросить</button>
	</div>
</div>
