@import url('../../spinner.scss');
@import url('../../btn.scss');

.filter {
	max-height: calc(100vh - 10em);
	overflow-y: scroll;

	&::-webkit-scrollbar {
		display: none;
	}
}

.filter-item {
	display: block;
	width: 100%;
}

button {
	display: block;
	padding: 0.4em 1em;
	width: 100%;
	border: none;
	background-color: var(--label-color);
	text-align: start;
}

.price-inputs {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;

	padding: 1em;

	& > input {
		padding: 0.2em;
		max-width: 120px;
		text-align: center;

		border: 1px solid var(--button-color);
	}

	& > input:focus,
	& > input:hover {
		outline: none;
		outline: 1px solid var(--button-color);
	}
}

////////

.wrapper {
	display: none;
	grid-template-rows: auto;
	grid-template-columns: 1fr;
	align-items: center;
	justify-items: start;

	padding: 1em;

	width: 100%;

	&.opened {
		display: grid;
	}
}

.prop-container {
	position: relative;

	& + & {
		margin-top: 0.5em;
	}
}

.property-value-label {
	margin-left: 0.5em;
}

.buttons {
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding: 2em 1em;
	text-align: center;

	& > button {
		padding: 0.7em 0.5em;
		max-width: 120px;
		border: 1px solid var(--main-text);
		background-color: transparent;
		text-align: center;
	}

	& > button:hover,
	& > button:active {
		// outline: 1px solid var(--button-color);
		background-color: var(--button-color);
		color: var(--main-color);
	}
}

@media (max-width: 600px) and (orientation: portrait) {
	.filter {
		width: 100%;
		min-height: calc(100vh - 5em);
		min-height: calc(100svh - 5em);

		background-color: var(--main-color);
		box-shadow: 0 0 5px 0 var(--secondary-text);
	}
	span {
		font-size: 1.3rem;
	}
	input {
		font-size: 1.3rem;
	}
	button {
		font-size: 1.3rem;
	}

	.buttons > button {
		font-size: 1.1rem;
		max-width: 9em;
	}
}
