<div class="product-container">
	<div class="product">
		<div class="images">
			<div class="main-image">
				<img src="../../assets/laminat_tarket_pervaja_sibirskaja_5.png" alt="" />
			</div>
			<div class="small-images-container">
				<div class="small-images">
					<img src="../../assets/laminat_tarket_pervaja_sibirskaja_5.png" alt="" />
					<img src="../../assets/laminat_tarket_pervaja_sibirskaja_5.png" alt="" />
					<img src="../../assets/laminat_tarket_pervaja_sibirskaja_5.png" alt="" />
					<img src="../../assets/laminat_tarket_pervaja_sibirskaja_5.png" alt="" />
					<img src="../../assets/laminat_tarket_pervaja_sibirskaja_5.png" alt="" />
					<img src="../../assets/laminat_tarket_pervaja_sibirskaja_5.png" alt="" />
				</div>
			</div>
		</div>
		<div class="main-description">
			<p class="name">Дуб ривьера</p>
			<div class="vendor">
				<span class="vendor-label">артикул:</span>
				<span class="vendor-value">1008344</span>
			</div>
		</div>
		<div class="description">
			<p class="label">Характеристики:</p>
			<div class="prop">
				<span class="prop-label">Бренд:</span>
				<span class="prop-value">IDEAL</span>
			</div>
			<div class="prop">
				<span class="prop-label">Коллекция:</span>
				<span class="prop-value">CHOICE</span>
			</div>
			<div class="prop">
				<span class="prop-label">Полосность:</span>
				<span class="prop-value">однополосная</span>
			</div>
			<div class="prop">
				<span class="prop-label">Тип планки:</span>
				<span class="prop-value">узкая</span>
			</div>
			<div class="prop">
				<span class="prop-label">Размер планки/плитки:</span>
				<span class="prop-value">138*16,1 см</span>
			</div>

			<div class="prop">
				<span class="prop-label">Количество в упаковке:</span>
				<span class="prop-value">2.444 м2</span>
			</div>
			<div class="prop">
				<span class="prop-label">Рельеф / Структура поверхности покрытия:</span>
				<span class="prop-value">стандартное</span>
			</div>
			<div class="prop">
				<span class="prop-label">Класс помещения:</span>
				<span class="prop-value">23/33</span>
			</div>
			<div class="prop">
				<span class="prop-label">Толщина:</span>
				<span class="prop-value">8 мм</span>
			</div>
			<div class="prop">
				<span class="prop-label">Тип соединения:</span>
				<span class="prop-value">2G</span>
			</div>
			<div class="prop">
				<span class="prop-label">Срок службы, лет:</span>
				<span class="prop-value">25</span>
			</div>
			<div class="prop">
				<span class="prop-label">Страна производства:</span>
				<span class="prop-value">Россия</span>
			</div>
		</div>
		<p class="price">800р./м2</p>
		<div class="btn-container">
			<button class="to-cart">В корзину</button>
		</div>
	</div>
	<div class="related-products">
		<app-related-products></app-related-products>
	</div>
</div>
