<div class="product-container">
	<div class="product">
		<div class="images">
			<div class="main-image">
				<img src="../../assets/laminat_tarket_pervaja_sibirskaja_5.png" alt="" />
			</div>
			<div class="small-images-container">
				<div class="small-images">
					<img src="../../assets/laminat_tarket_pervaja_sibirskaja_5.png" alt="" />
					<img src="../../assets/laminat_tarket_pervaja_sibirskaja_5.png" alt="" />
					<img src="../../assets/laminat_tarket_pervaja_sibirskaja_5.png" alt="" />
					<img src="../../assets/laminat_tarket_pervaja_sibirskaja_5.png" alt="" />
					<img src="../../assets/laminat_tarket_pervaja_sibirskaja_5.png" alt="" />
					<img src="../../assets/laminat_tarket_pervaja_sibirskaja_5.png" alt="" />
				</div>
			</div>
		</div>
		<div class="main-description">
			<p class="name">{{ product.name }}</p>
			<div class="vendor">
				<span class="vendor-label">артикул:</span>
				<span class="vendor-value">1008344</span>
			</div>
		</div>
		<div class="description">
			<p class="label">Характеристики:</p>
			<div class="prop" *ngFor="let prop of product.properties">
				<span class="prop-label">{{ prop.property }}: </span>
				<span class="prop-value">{{ prop.value }}</span>
			</div>
		</div>
		<div class="additional-props">
			<p class="label">{{ product.additionalProperty.name }}</p>
			<label [for]="i" class="radio-labels" *ngFor="let p of product.additionalProperty.values; index as i">
				<input
					type="radio"
					[id]="i"
					name="additional-props"
					[value]="p"
					hidden
					[checked]="i == 0"
					(change)="additionalPropChangeValue($event)"
				/>
				<span>{{ p }}</span>
			</label>
		</div>
		<p class="price">{{ product.price }}{{ typeOfMeasurement[product.typeOfMeasurement] }}</p>
		<div class="btn-container">
			<button class="to-cart" type="button" *ngIf="!auth.isAuthenticated" (click)="addToCart()">В корзину</button>
			<ng-container *ngIf="auth.isAuthenticated">
				<div class="edit-btns-container">
					<button class="remove-btn" type="button">Удалить</button>
					<button class="edit-btn" type="button" [routerLink]="['/products', id, 'edit']">Редактировать</button>
				</div>
			</ng-container>
		</div>
	</div>
	<div class="related-products">
		<app-related-products></app-related-products>
	</div>
</div>
