<div class="product-container">
	<div class="spinner absolute" *ngIf="isRemoving"></div>
	<div class="product">
		<div class="images-container">
			<div class="images">
				<div class="main-image">
					<img [src]="mainImage" alt="main-image" />
				</div>
				<div class="small-images-container">
					<div class="small-images">
						<ng-container *ngIf="imagesArray.length > 0">
							<div class="small-images-items" *ngFor="let img of imagesArray; let i = index">
								<img [src]="img" alt="small-images" (click)="chooseImage(i)" />
							</div>
						</ng-container>
						<img
							class="small-images-items"
							[src]="emptyImage"
							*ngIf="imagesArray.length < 1"
							alt="small-images"
						/>
					</div>
				</div>
			</div>
		</div>
		<ng-container *ngIf="product">
			<div class="main-description">
				<p class="name">{{ product.name }}</p>
				<div class="vendor">
					<span class="vendor-label">артикул:</span>
					<span class="vendor-value">{{ product.vendor }}</span>
				</div>
			</div>
			<div class="description">
				<p class="label">Характеристики:</p>
				<div class="prop" *ngFor="let prop of product.properties">
					<span class="prop-label">{{ prop?.property }}: </span>
					<span class="prop-value">{{ prop?.value }}</span>
				</div>
			</div>

			<div class="additional-props">
				<ng-container *ngIf="product?.additionalProperty?.values.trim().length > 0">
					<p class="label">{{ product.additionalProperty.name }}</p>
					<label
						[for]="i"
						class="radio-labels"
						*ngFor="let p of product?.additionalProperty?.values.trim().split(' '); index as i"
					>
						<input
							type="radio"
							[id]="i"
							name="additional-props"
							[value]="p"
							hidden
							[checked]="i == 0"
							(change)="additionalPropChangeValue($event)"
						/>
						<span>{{ p }}</span>
					</label>
				</ng-container>
			</div>
			<p class="price">{{ product.price + typeOfMeasurement }}</p>
			<div class="btn-container">
				<button class="to-cart anim-btn" type="button" *ngIf="!auth.isAuthenticated" (click)="addToCart()">
					В корзину
				</button>
				<ng-container *ngIf="auth.isAuthenticated">
					<div class="edit-btns-container">
						<button class="remove-btn anim-btn" type="button" (click)="removeProduct(+id)">Удалить</button>
						<button class="edit-btn anim-btn" type="button" [routerLink]="['/products', id, 'edit']">
							Редактировать
						</button>
					</div>
				</ng-container>
			</div>
		</ng-container>
	</div>
	<div class="related-products">
		<app-related-products></app-related-products>
	</div>
</div>
