<div class="order-position-container" [formGroup]="form">
	<app-order-item-edit [form]="form" [summary]="order.summary"></app-order-item-edit>
	<ng-container formArrayName="items">
		<ng-container *ngFor="let item of items; index as i">
			<app-shopping-cart-item [form]="item" [index]="i" (onRemoveItem)="removeItem($event)"></app-shopping-cart-item>
		</ng-container>
	</ng-container>

	<div class="radio-buttons-container">
		<label for="pickup" class="pickup-label">
			<input
				type="radio"
				class="delivery"
				value="pickpup"
				id="pickup"
				name="delivery"
				hidden
				formControlName="delivery"
			/>
			<span>Сaмовывоз</span>
		</label>

		<label for="delivery1" class="delivery-label">
			<input
				type="radio"
				class="delivery"
				value="delivery"
				id="delivery1"
				name="delivery"
				hidden
				formControlName="delivery"
			/>
			<span>Доставка</span>
		</label>
	</div>
	<div class="remove-edit-btns">
		<button class="save-btn btn" type="button">Сохранить</button>
		<button class="cancel-btn btn" type="button" (click)="resetForm()">Отмена</button>
	</div>
</div>
