<div class="container">
	<ol>
		Определения и термины:
		<li>Клиент – физическое лицо, использующее сайт Компании.</li>
		<li>
			Персональные данные - информация, относящаяся к определенному Клиенту, указанная в п. 3.1 настоящего Положения.
		</li>
		<li>
			Обработка персональных данных – любые операции, совершаемые с использованием средств автоматизации или без
			использования таких средств с персональными данными, включая сбор, запись, систематизацию, накопление,
			хранение, уточнение (обновление, изменение), извлечение, использование, передачу (распространение,
			предоставление, доступ), обезличивание, блокирование, удаление, уничтожение персональных данных.
		</li>
		<li>
			Cookies - фрагменты данных, отправляемых веб-сервером браузеру при посещении сайта Клиентом. Куки – это часть
			данных, автоматически располагающаяся на жестком диске компьютера при каждом посещении веб-сайта. Таким
			образом, куки – это уникальный идентификатор браузера для веб-сайта. Куки дают возможность хранить информацию
			на сервере и помогают легче ориентироваться в веб-пространстве, а также позволяют осуществлять анализ сайта,
			оценку результатов и таргетирование поведенческой рекламы. Большинство веб-браузеров разрешают использование
			куки, однако можно изменить настройки для отказа от работы с куки или отслеживания пути их рассылки. При этом
			некоторые ресурсы могут работать некорректно, если работа куки в браузере будет запрещена.
		</li>
	</ol>
	<ol>
		Цели и принципы политики конфиденциальности и сбора персональных данных
		<li>
			Политика конфиденциальности действует в отношении любой указанной в разделе 3 информации, которую Компания
			может получить о Клиенте во время использования сайта, программ и продуктов сайта.
		</li>
		<li>
			Клиент предоставляет свои персональные данные с целью:
			<p>- предоставления технической поддержки, связанной с использованием сайта;</p>
			<p>- оформления заказов, уведомления о состоянии заказов, обработки и получения платежей;</p>
		</li>
		<li>
			Обеспечение надежности хранения информации и прозрачности целей сбора персональных данных. Персональные данные
			Клиентов собираются, хранятся, обрабатываются, используются, передаются и удаляются (уничтожаются) в
			соответствии с законодательством РФ, в т.ч. Федеральным законом 27.07.2006 № 152-ФЗ «О персональных данных», и
			настоящей Политикой конфиденциальности.
		</li>
	</ol>
	<ol>
		Информация, подлежащая обработке:
		<li>
			Персональные данные, разрешённые к обработке в рамках настоящей Политики конфиденциальности, предоставляются
			Клиентом путём заполнения формы заказа товаров на сайте Компании и включают в себя следующую информацию:
			<div>
				<li>ФИО Клиента;</li>
				<li>контактный телефон Клиента;</li>
				<li>адрес электронной почты (e-mail);</li>
				<li>адрес доставки Товара;</li>
				<li>историю заказов;</li>
				<li>время доступа;</li>
			</div>
		</li>
	</ol>
	<ol>
		Обработка и использование персональных данных:
		<li>
			Обработка персональных данных Клиента осуществляется любым законным способом, в том числе в информационных
			системах персональных данных с использованием средств автоматизации или без использования таких средств.
		</li>
		<li>
			Срок обработки персональных данных определяется достижением целей, для которых были собраны персональные
			данные, если иной срок не предусмотрен договором или действующим законодательством.
		</li>
		<li>
			Соглашаясь с настоящей Политикой конфиденциальности Клиент предоставляет Компании свое согласие на обработку
			указанных в разделе 3 персональных данных всеми указанными в настоящей Политике способами, а также передачу
			указанных данных партнерам Компании для целей исполнения принятых на себя обязательств.
		</li>
		<li>
			Компания не вправе передавать информацию о Клиенте неаффилированным лицам или лицам, не связанным с Компанией
			договорными отношениями.
		</li>
		<li>
			Передача информации аффилированным лицам и лицам, которые связаны с Компанией договорными отношениями
			(курьерские службы, организации почтовой связи и т.д.), осуществляется для исполнения заказа Клиента, а также
			для возможности информирования Клиента о проводимых акциях, предоставляемых услугах, проводимых мероприятиях.
		</li>
		<li>
			Аффилированные лица и лица, связанные с Компанией договорными отношениями, принимают на себя обязательства
			обеспечивать конфиденциальность информации и гарантировать ее защиту, а также обязуются использовать полученную
			информацию исключительно для целей исполнения указанных действий или оказания услуг.
		</li>
		<li>
			Компания принимает все необходимые меры для защиты персональных данных Клиента от неавторизованного доступа,
			изменения, раскрытия или уничтожения.
		</li>
		<li>
			Условием прекращения обработки персональных данных может являться достижение целей обработки персональных
			данных, истечение срока действия согласия или отзыв согласия субъекта персональных данных на обработку его
			персональных данных. Обработка персональных данных может быть прекращена в иных случаях, предусмотренных
			действующим законодательством.
		</li>
	</ol>
	<ol>
		Права и обязанности Клиента:
		<li>
			Клиент вправе изменять свои личные данные, а также отозвать ранее предоставленное согласие на обработку
			персональных данных и требовать их удаления. Заявление об отзыве персональных данных может быть подано Клиентом
			в простой письменной форме в магазины Компании.
		</li>
	</ol>
	<ol>
		Политика использования cookie-файлов
		<li>Сайт не использует файлы cookie</li>
	</ol>
	<ol>
		Подтверждения согласия с настоящей Политикой:
	</ol>
	<p>Используя Сайт, вы соглашаетесь с настоящей Политикой.</p>
</div>
