.container {
	display: block;
	padding: 1em 1.5em 5em;
	width: 100%;
	height: calc(100svh - 10em);
	counter-reset: root;
	overflow-y: scroll;
}

ol {
	font-size: 1.3rem;
	margin-bottom: 2em;
	counter-reset: item;
}

ol:last-of-type {
	margin-bottom: 0.8em;
}

ol::before {
	counter-increment: root;
	content: counter(root);
}

li {
	margin-left: 2em;
	margin-top: 1em;
	list-style-type: none;
	counter-increment: item;
	line-height: 1.4;
	font-size: 1rem;
}

ol > li::before {
	margin-right: 0.5em;
	content: counter(root) '.' counter(item);
}

div > li {
	list-style-type: disc;
	margin-top: 0;
}

p {
	margin-left: 2em;
}
