<div class="order-item">
	<div class="contacts">
		<input class="name" type="text" placeholder="Ф.И.О." />
		<input class="phone" type="number" placeholder="Телефон" />
		<input class="email" type="email" placeholder="Почта" />
	</div>
	<div class="status-container">
		<p class="status-label">статус:</p>
		<select class="status">
			<option>В обработке</option>
			<option>В доставке</option>
			<option>Завершен</option>
		</select>
	</div>
	<div class="address-container">
		<p class="address-label">адрес доставки:</p>
		<input type="text" class="address" placeholder="Адрес" />
	</div>
	<div class="comment-container">
		<p class="comment-label">комментарий:</p>
		<textarea class="comment" name="" id="" placeholder="Комментарий"></textarea>
	</div>
	<div class="price-container">
		<span class="price-label">Сумма:</span>
		<span class="price">28 566р.</span>
	</div>
</div>
