<form class="order-item" [formGroup]="form">
	<div class="contacts">
		<input class="name" type="text" placeholder="Ф.И.О." formControlName="name" />
		<input class="phone" type="number" placeholder="Телефон" formControlName="phone" />
		<input class="email" type="email" placeholder="Почта" formControlName="email" />
	</div>
	<div class="status-container">
		<p class="status-label">статус:</p>
		<select class="status">
			<option>В обработке</option>
			<option>В доставке</option>
			<option>Завершен</option>
		</select>
	</div>
	<div class="address-container">
		<p class="address-label">адрес доставки:</p>
		<input type="text" class="address" placeholder="Адрес" formControlName="address" />
	</div>
	<div class="comment-container">
		<p class="comment-label">комментарий:</p>
		<textarea class="comment" name="" id="" placeholder="Комментарий" formControlName="comment"></textarea>
	</div>
	<div class="price-container">
		<span class="price-label">Сумма:</span>
		<span class="price">{{ summary | currency : '' : '' : '' : 'ru-Ru' }}р.</span>
	</div>
</form>
