<div class="buttons-container">
	<label for="pickup" class="pickup-label">
		<input type="radio" class="delivery" id="pickup" name="delivery" />
		<span>Сaмовывоз</span>
	</label>

	<label for="delivery" class="delivery-label">
		<input type="radio" class="delivery" id="delivery" name="delivery" checked />
		<span>Доставка</span>
	</label>

	<button class="order-btn btn" type="button" *ngIf="!authService.isAuthenticated" [routerLink]="['/accept-order']">
		Заказать
	</button>

	<div class="remove-edit-btns" *ngIf="authService.isAuthenticated">
		<button class="remove-btn btn" type="button" *ngIf="!editMode">Удалить</button>
		<button class="edit-btn btn" type="button" *ngIf="!editMode">Редактировать</button>
		<button class="save-btn btn" type="button" *ngIf="editMode">Сохранить</button>
		<button class="cancel-btn btn" type="button" *ngIf="editMode">Отмена</button>
	</div>
</div>
