<div class="order-item" (click)="navigateToDetails()">
	<ng-container *ngIf="order">
		<div class="contacts">
			<p class="name">{{ order.contacts.name }}</p>
			<a class="phone" href="tel:+7 999 999 99 99">{{ order.contacts.phone }}</a>
			<a class="email" href="mailto:ivanov@gmail.com">{{ order.contacts.email }}</a>
		</div>
		<div class="status-container">
			<p class="status-label">статус:</p>
			<p class="status">В обработке</p>
		</div>
		<div class="address-container">
			<p class="address-label">адрес доставки:</p>
			<p class="address">{{ order.address }}</p>
		</div>
		<div class="comment-container">
			<p class="comment-label">комментарий:</p>
			<p class="comment">{{ order.comment }}</p>
		</div>
		<div class="price-container">
			<span class="price-label">Сумма:</span>
			<span class="price">{{ order.summary | currency : '' : '' : '' : 'ru-RU' }}р.</span>
		</div>
	</ng-container>
</div>
