@import url('../../filled-radio-buttons.scss');
@import url('../../btn.scss');

.shopping-cart-item-container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr auto;

	padding: 2em 2em 1.75em;
	border-bottom: 1px solid var(--secondary-text);
}

input.ng-invalid.ng-touched {
	border: 1px solid red;
}

.item-image {
	grid-row: 1 / 2;
	grid-column: 1 / 2;

	& > img {
		width: 200px;
		height: 200px;
	}
}

.item-description {
	grid-row: 1 / 2;
	grid-column: 2 / 3;

	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr 1fr auto;

	justify-items: start;
	align-items: start;

	row-gap: 0.5em;
}

.main-desc {
	grid-column: 1 / 2;
	grid-row: 1 / 2;
}

.name {
	display: block;
	margin-bottom: 0.3em;
	font-size: 1.625rem;

	color: var(--main-text);
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

.vendor {
	font-size: 1rem;
	color: var(--secondary-text);
}

.amounts {
	grid-row: 2 / 3;
	grid-column: 1 / 2;
}

.result-value {
	margin-top: 0.5em;
	font-size: 1.25rem;
}

.additional-props {
	grid-row: 3 / 4;
	grid-column: 1 / 2;
}

.price {
	grid-row: 2 / 3;
	grid-column: 3 / 4;

	font-size: 1.625rem;
	align-self: center;
	justify-self: end;
}

.remove-btn {
	grid-row: 1 / 2;
	grid-column: 3 / 4;

	justify-self: end;

	& > button {
		font-size: 1rem;
		padding: 0.5em 2em;
		background-color: transparent;
		border: 1px solid var(--button-color);
	}

	& > button:hover {
		background-color: var(--button-color);
		color: var(--main-color);
	}
}

@media (max-width: 600px) and (orientation: portrait) {
	.shopping-cart-item-container {
		grid-template-columns: auto 1fr;
		grid-template-rows: auto auto;
		padding: 1em 0;
		column-gap: 1.5em;
	}

	.item-image {
		& > img {
			width: 100px;
			height: 100px;
		}
	}

	.item-description {
		grid-row: 1 / 2;
		grid-column: 2 / 3;
		row-gap: 0;
	}

	.name {
		font-size: 1.3rem;
	}

	.vendor {
		font-size: 0.8rem;
	}

	.result-value {
		font-size: 1rem;
	}

	.price {
		grid-row: 2 / 3;
		grid-column: 2 / 3;
		justify-self: start;

		margin-top: 0.5em;

		font-size: 1.3rem;
	}

	.remove-btn {
		grid-row: 2 / 3;
		grid-column: 1 / 2;

		align-self: self-end;

		& > button {
			font-size: 0.9rem;
			padding: 0.4em 1.5em;
			width: 100px;
			text-align: center;
		}
	}
}
