<form class="shopping-cart-item-container" [formGroup]="form" *ngIf="form">
	<div class="item-image">
		<img src="../../assets/laminat_tarket_pervaja_sibirskaja_5.png" alt="" />
	</div>
	<div class="item-description">
		<div class="main-desc">
			<a class="name" [routerLink]="['/products', product.id]">{{ product.name }}</a>
			<p class="vendor">{{ product.vendor }}</p>
		</div>
		<div class="amounts">
			<app-counter formControlName="amount"></app-counter>
			<p class="result-value" *ngIf="area">Площадь: {{ area }}</p>
		</div>
		<div class="additional-props" *ngIf="additionalPropsValue">
			<p class="label">{{ product.additionalProperty.name }}</p>
			<label
				[for]="i.toString() + product.id.toString() + index.toString()"
				class="radio-labels"
				*ngFor="let p of product.additionalProperty.values.trim().split(' '); index as i"
			>
				<input
					type="radio"
					[id]="i.toString() + product.id.toString() + index.toString()"
					[name]="'additional-props' + index"
					[value]="p"
					hidden
					[checked]="p === additionalPropsValue"
					(change)="changeAdditionalProp($event)"
				/>
				<span>{{ p }}</span>
			</label>
		</div>
	</div>
	<p class="price">Стоимость: {{ price | currency : '' : '' : '' : 'ru-RU' }}р.</p>
	<div class="remove-btn">
		<button class="anim-btn" type="button" (click)="removeItem()">Удалить</button>
	</div>
</form>
