@import url('../../add-button.scss');
@import url('../../spinner.scss');
@import url('../../btn.scss');

:host {
	position: relative;
}

.products-container {
	display: grid;
	grid-template-columns: 1fr 3fr;
	grid-template-rows: 2em auto auto;
	column-gap: 3em;

	padding-top: 1em;
	padding-bottom: 5em;

	width: 100%;
	height: calc(100vh - 10em);

	overflow-y: auto;
	position: relative;
}

.empty {
	padding-top: 1em;
	padding-left: 1.5em;
	width: 100%;
	height: calc(100vh - 10em);
}

.product-spinner-position {
	grid-column: 2 / 3;
	grid-row: 1 / 4;
	margin-right: 1.5rem;
}

.filter-spinner-position {
	grid-column: 1 / 2;
	grid-row: 1 / 4;
	margin-left: 1.5rem;
}

.filter-container {
	grid-row: 1 / 4;
	grid-column: 1 / 2;
}

.sort-buttons {
	grid-row: 1 / 2;
	grid-column: 2 / 3;
	& button {
		background-color: transparent;
		border: none;
	}

	& span {
		margin-left: 0.5em;
	}
}

.sort-price {
}

.sort-name {
	margin-left: 1.5em;
}

.filter-btn {
	display: none;
}

.products {
	grid-row: 2 / 3;
	grid-column: 2 / 3;

	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: auto;
	column-gap: 1.5em;
	row-gap: 3em;
	flex-wrap: wrap;
}

.pagination {
	grid-row: 3 / 4;
	grid-column: 2 / 3;
}

@media (max-width: 600px) and (orientation: portrait) {
	.products-container {
		grid-template-columns: 1fr;
		grid-template-rows: auto 1fr;
		padding: 1em;

		height: calc(100vh - 5em);
		height: calc(100svh - 5em);
	}

	.product-spinner-position {
		grid-column: 1 / 2;
		grid-row: 1 / 4;
		margin-right: 1.5rem;
		z-index: -1;
	}

	.filter-container {
		display: block;
		width: 100vw;

		background-color: var(--main-color);

		position: absolute;
		top: -1em;

		left: -105vw;

		transition: 0.15s;

		&.opened {
			display: block;
			left: -1em;
		}
	}

	.sort-buttons {
		grid-row: 1 / 2;
		grid-column: 1 / 2;

		display: grid;
		grid-template-rows: 1fr;
		grid-template-columns: 1fr 1fr 2fr;
		justify-items: start;

		padding-bottom: 1em;
		width: 100%;

		& button {
			font-size: 1.1rem;
		}

		& button.filter-btn {
			display: inline;
			padding: 0.5em 2em;
			margin-left: 1.5em;
			justify-self: self-end;
			border: 1px solid var(--main-text);
		}

		& span {
			margin-left: 0.5em;
		}
	}

	.products {
		grid-column: 1 / 2;
		display: flex;
		flex-direction: column;
		row-gap: 0;
		flex-wrap: unset;
		overflow-y: unset;
	}

	.pagination {
		grid-column: 1 / 2;
	}
}
