@import url('../../add-button.scss');

.products-container {
	display: grid;
	grid-template-columns: 1fr 3fr;
	grid-template-rows: 2em auto;
	column-gap: 3em;

	padding-top: 1em;

	width: 100%;
	height: calc(100vh - 10em);

	position: relative;
}

.filter-container {
	grid-row: 1 / span 2;
	grid-column: 1 / 2;
}

.sort-buttons {
	grid-row: 1 / 2;
	grid-column: 2 / 3;
	& button {
		background-color: transparent;
		border: none;
	}

	& span {
		margin-left: 0.5em;
	}
}

.sort-price {
}

.sort-name {
	margin-left: 1.5em;
}

.filter-btn {
	display: none;
}

.products {
	grid-row: 2 / 3;
	grid-column: 2 / 3;

	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: auto;
	column-gap: 1.5em;
	row-gap: 3em;
	// flex-direction: row;
	flex-wrap: wrap;
	overflow-y: scroll;
}

@media (max-width: 600px) and (orientation: portrait) {
	.products-container {
		grid-template-columns: 1fr;
		grid-template-rows: auto 1fr;
		padding: 1em;

		height: calc(100vh - 5em);
		height: calc(100svh - 5em);

		// height: 105vh;
		// height: 105svh;

		// height: unset;
		position: relative;
	}

	.filter-container {
		display: block;
		width: 100vw;

		background-color: var(--main-color);

		position: absolute;
		top: -1em;
		left: -105vw;

		transition: 0.15s;

		&.opened {
			display: block;
			left: -1em;
		}
	}

	.sort-buttons {
		grid-row: 1 / 2;
		grid-column: 1 / 2;

		display: grid;
		grid-template-rows: 1fr;
		grid-template-columns: 1fr 1fr 2fr;
		justify-items: start;

		padding-bottom: 1em;
		width: 100%;

		& button {
			font-size: 1.1rem;
		}

		& button.filter-btn {
			display: inline;
			padding: 0.5em 2em;
			margin-left: 1.5em;
			justify-self: self-end;
			border: 1px solid var(--main-text);
		}

		& span {
			margin-left: 0.5em;
		}
	}

	.products {
		grid-column: 1 / 2;
		display: flex;
		flex-direction: column;
		row-gap: 0;
		flex-wrap: unset;
		overflow-y: unset;
	}
}
