<div class="shopping-cart-item-container">
	<div class="item-image">
		<img src="../../assets/laminat_tarket_pervaja_sibirskaja_5.png" alt="" />
	</div>
	<div class="item-description">
		<div class="main-desc">
			<p class="name">{{ item.product.name }}</p>
			<p class="vendor">{{ item.product.vendor }}</p>
		</div>
		<div class="amounts">
			<app-counter
				[value]="item.amount"
				(onAmountChanged)="changeAmount($event)"
				[disabled]="disableCounter"
			></app-counter>
			<p class="result-value">Площадь: 124м2</p>
		</div>
		<p class="price">Стоимость: {{ item.amount * item.product.price | currency : '' : '' : '' : 'ru-RU' }}р.</p>
	</div>
	<div class="remove-btn" *ngIf="!disableCounter && auth.isAuthenticated">
		<button type="button" (click)="removeItem(item.product.id)">Удалить</button>
	</div>
</div>
