<div class="product-container">
	<form class="product" [formGroup]="form">
		<div class="images">
			<div class="main-image">
				<img [src]="mainImage" alt="" />
			</div>
			<div class="small-images-container">
				<div class="small-images">
					<div class="add-image">
						<input #file type="file" accept="image/*" hidden (change)="uploadImage(file.files)" />
						<button (click)="file.click()">
							<svg width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
								<line y1="17" x2="34" y2="17" stroke="white" stroke-width="2" />
								<line x1="17" x2="17" y2="34" stroke="white" stroke-width="2" />
							</svg>
						</button>
					</div>
					<div class="small-images-items" *ngFor="let i of imagesArray; index as imageIndex">
						<img class="image-item" width="100" height="100" [src]="i" alt="" (click)="chooseImage(imageIndex)" />
						<button class="remove-image" (click)="removeImage(imageIndex)">
							<svg width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
								<line y1="17" x2="34" y2="17" stroke="white" stroke-width="2" />
								<line x1="17" x2="17" y2="34" stroke="white" stroke-width="2" />
							</svg>
						</button>
					</div>
				</div>
			</div>
		</div>
		<div class="main-description">
			<input class="name" placeholder="Название" formControlName="name" />
			<div class="vendor">
				<input class="vendor-value" type="text" placeholder="Артикул" formControlName="vendor" />
			</div>
		</div>
		<div class="description">
			<ng-container formArrayName="properties">
				<app-product-props #props [props]="propertiesFormArray"></app-product-props>
			</ng-container>
		</div>
		<div class="categories">
			<p class="label">Категории:</p>
			<select name="categories" class="product-categories" formControlName="category">
				<option value="" disabled>Выберите категорию</option>
				<option *ngFor="let c of categories; index as i" [ngValue]="c">{{ c.value }}</option>
			</select>
		</div>
		<div class="additional-props">
			<app-additional-props #adProps [additionalProps]="additionalProps"></app-additional-props>
		</div>
		<div class="type-of-products">
			<label for="cutting" class="radio-labels">
				<input type="radio" id="cutting" hidden [value]="0" formControlName="typeOfProduct" />
				<span>Отрезной</span>
			</label>
			<label for="piece" class="radio-labels">
				<input type="radio" id="piece" hidden [value]="1" formControlName="typeOfProduct" />
				<span>Штучный</span>
			</label>
		</div>
		<div class="price-container">
			<input class="price" type="number" placeholder="Цена" formControlName="price" />
			<label for="m2" class="radio-labels">
				<input type="radio" id="m2" [value]="0" hidden formControlName="typeOfMeasurement" />
				<span>р./м2</span>
			</label>
			<label for="sht" class="radio-labels">
				<input type="radio" id="sht" [value]="1" hidden formControlName="typeOfMeasurement" />
				<span>р./шт.</span>
			</label>
		</div>
		<div class="btn-container auth">
			<div class="edit-btns-container">
				<button type="button" (click)="onSubmit()">Сохранить</button>
				<button type="button" (click)="resetForm()">Отмена</button>
			</div>
		</div>
	</form>
</div>
