.images {
	grid-row: 1 / 5;
	grid-column: 1 / 2;

	display: grid;
	grid-template-rows: 3fr 1fr;
	grid-template-columns: 1fr;

	align-items: center;
	align-self: self-start;
	justify-self: center;
}

.main-image {
	grid-row: 1 / 4;
	grid-column: 1 / 2;
	& > img {
		max-width: 400px;
	}
}

.small-images-container {
	grid-row: 4 / 5;
	grid-column: 1 / 2;

	max-width: 400px;
	height: 120px;
	max-height: 120px;

	position: relative;
}

.small-images {
	max-height: 400px;
	max-width: 120px;

	position: absolute;
	top: 0;
	left: 0;

	overflow-x: hidden;
	overflow-y: scroll;

	transform: rotate(-90deg) translateY(-120px);
	transform-origin: right top;
	& > img {
		transition: 0.15s;
		max-width: 100px;
		transform: rotate(90deg);
	}

	img + img {
		margin-top: 0.5em;
	}

	&::-webkit-scrollbar {
		display: none;
	}

	.add-image {
		width: 100px;
		height: 100px;
		margin-bottom: 1rem;

		& > button {
			width: 100%;
			height: 100%;
		}

		& > button > svg > * {
			stroke: var(--button-color);
		}
	}
}

@media (max-width: 600px) and (orientation: portrait) {
	.images {
		grid-row: 2 / 3;
		grid-column: 1 / 2;

		grid-template-columns: 1fr;
		grid-template-rows: 1fr;
	}

	.main-image {
		display: none;
	}

	.small-images-container {
		grid-column: 1 / 2;
		grid-row: 1 / 2;

		height: 21em;
		max-height: 21em;
		max-width: 21em;
	}

	.small-images {
		display: flex;
		flex-direction: row;

		max-width: 100%;

		aspect-ratio: 1 / 1;

		position: static;
		transform: unset;
		transform-origin: unset;

		overflow-x: scroll;
		overflow-y: unset;
		scroll-snap-type: x mandatory;

		& > img {
			transform: unset;
			max-width: 20.5em;
			scroll-snap-align: center;
			scroll-snap-stop: always;
			padding: 0;
			margin: 0;
		}

		img + img {
			margin-top: 0;
			margin-left: 0.5em;
		}

		.add-image {
			display: inline-block;
			height: 21em;
			width: 21em;
			aspect-ratio: 1 / 1;
			margin-bottom: 0;
			margin-right: 0.5em;

			& > button {
				display: inline-block;
				width: 100%;
				height: 100%;
				scroll-snap-align: center;
				scroll-snap-stop: always;
			}
		}
	}
}
