@import url('./variables.scss');

*,
h1,
h2,
h3,
::before,
::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	line-height: 1;
}

html {
	font-size: 16px;
	background-color: rgb(255, 255, 255);
}

body {
	display: block;
	margin: 0 auto;

	max-width: 1200px;
	width: 100%;
	// height: 100vh;
	// height: 100svh;
	// overflow-y: scroll;

	box-shadow: 0 0 5px 0 var(--secondary-text);

	position: relative;
}

input[type='checkbox'] {
	position: absolute;
	z-index: -1;
	opacity: 0;

	& + span {
		display: inline-flex;
		align-items: center;
		user-select: none;
	}

	& + span::before {
		content: '';
		display: inline-block;
		width: 1em;
		height: 1em;
		flex-grow: 0;
		flex-shrink: 0;
		border: 1px solid var(--button-color);
		margin-right: 0.5em;
		background-repeat: no-repeat;
		background-position: center;
		background-size: 90% 90%;
	}

	&:checked + span::before {
		background-image: url('./assets/checkbox.svg');
	}
}
