.shopping-cart-container {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto auto;
	padding: 0 1em 2em;
	width: 100%;
	min-height: calc(100vh - 10em);
}

.shopping-cart {
	grid-row: 1 / 2;

	display: flex;
	flex-direction: column;
	padding: 2em 5.25em 4em;
}

.related-products {
	justify-self: start;
	align-self: self-end;

	width: 100%;
	height: 260px;

	overflow-x: hidden;
}

@media (max-width: 600px) and (orientation: portrait) {
	.shopping-cart {
		padding: 1em 0 4em;
	}
}
