<div class="shopping-cart-container">
	<div class="shopping-cart">
		<app-shoppint-cart-item></app-shoppint-cart-item>
		<div class="buttons-container">
			<label for="pickup" class="pickup-label">
				<input type="radio" class="delivery" id="pickup" name="delivery" />
				<span>Сaмовывоз</span>
			</label>

			<label for="delivery" class="delivery-label">
				<input type="radio" class="delivery" id="delivery" name="delivery" />
				<span>Самовывоз</span>
			</label>

			<button class="order-btn">Заказать</button>
		</div>
	</div>
	<div class="related-products">
		<app-related-products></app-related-products>
	</div>
</div>
