.order-btn {
	grid-row: 2 / 3;
	grid-column: 2 / 3;
}

.remove-edit-btns {
	grid-row: 2 / 3;
	grid-column: 1 / 3;

	display: flex;
}

@media (max-width: 600px) and (orientation: portrait) {
	.remove-edit-btns {
		display: flex;
		justify-content: space-around;
		align-items: center;
		width: 100%;
		height: 5em;

		background-color: var(--main-color);
		box-shadow: 0 0 5px 0 var(--secondary-text);

		position: fixed;
		left: 0;
		bottom: 0;
		z-index: 3;
	}

	.btn {
		margin-top: 0;
		padding: 0.7em 1em;
		width: 10em;
		font-size: 1.1rem;
		& + & {
			margin-left: 0;
		}
	}
}
